
.header {
  right: 0;
  position: absolute;
  padding: 10px;

  div {
    display: inline-block;
  }

  .name {
    background: red;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
    float: right;
  }
}


&.lost-connection {
  .name {
    background: orange;
  }
}