
.header {
  right: 0;
  position: absolute;
  padding: 10px;

  > div {
    display: inline-block;
  }

  .name {
    background: red;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
  }

  .details {

    &.visible {
      display: grid;
      grid-template-columns: 200px auto;
    }

    span:nth-child(odd) {
      font-weight: bold;
      margin-right: 15px;
    }

    span:nth-child(even) {
      font-style: italic;
    }

    display: none;
    background: whitesmoke;
    position: absolute;
    right: 0;
    padding: 10px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 10px;
  }
}


&.lost-connection {
  .name {
    background: orange;
  }
}