.selected-picture {
  display: inline-block;

  img {
    width: 100%;
  }
}

.event-data {
  .selected-picture {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    position: relative;

    > img {
      height: auto;
      width: auto;
      max-height: calc(50vh - 100px);
      max-width: calc(100vw - 20px);
      object-fit: contain;
      user-select: none;

      @media screen and (max-height: 400px) {
        max-height: 100vh;
      }
    }

    > span {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: absolute;
      height: 100%;

      img {
        user-select: none;
      }

      &:hover {
        background: rgba(100,100,100,0.5);
      }

      &:active {
        filter: brightness(90%);
      }

      &:first-child {
        left: 0px;
      }

      &:last-child {
        right: 0px;
      }
    }
  }

  .pictures {
    display: grid;
    font-size: 0;
    margin-left: -3px;
    margin-top: -3px;
    vertical-align: top;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .lazyload-wrapper {
      padding: 3px;
      position: relative;

      .frame-id {
        position: absolute;
        background: #384545;
        border-radius: 50%;
        padding: 3px 5px;
        font-size: 12px;
        margin: 3px;
        color: white;
        z-index: 1000;
        min-width: 1em;
        text-align: center;
        height: 1.2em;
        line-height: 1.2em;
      }

      &.selected {
        //padding: 1px;

        img {
          filter: brightness(130%);
          //border: 1px solid blue;
          box-shadow: 2px 0px 2px blue, 0px -2px 2px blue, -2px 0px 2px blue, 0px 2px 2px blue;
          box-sizing: border-box;
          //border-radius: 3px;
        }

        .frame-id {
          background: blue;
          //margin: 6px;
        }

      }


      img {
        width: 100%;
        cursor: pointer;

        &:hover {
          filter: brightness(130%);
        }

        .placeholder {
          background: red;
          display: inline-block;
          width: 200px;
          height: 100%;
        }
      }
    }


    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 600px) and (max-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 800px) and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1000px) and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    @media screen and (min-width: 1600px) and (max-width: 1800px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    @media screen and (min-width: 1800px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    }

  }

  .header {
    user-select: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.7em;
    margin-top: 0.7em;

    select {
      padding: 0.5em 0.5em;
      display: inline-block;
    }

    @media screen and (max-width: 550px) {
      display: block;
    }

    span {
      margin-right: 10px;
      @media screen and (max-width: 550px) {
        display: block;
        margin-right: initial;
        margin-top: 5px;

        &.event-id {
          margin-bottom: -1.2em;
        }

        &.delete,
        &.event-camera {
          display: inline-block;
        }

        &.delete .danger.btn {
          margin-left: 0.4em;
          margin-right: 0.4em;
          position: initial;
          transform: translateY(25%);
        }

      }
    }

    .event-id {
      font-size: 0.8em;
    }

    .event-time {
      padding: 0.5em;
      border: 1px solid grey;
    }
  }

  .frame.loading {
    display: none;
  }

  .in-viewport {
    .placeholder.hidden {
      display: none;
    }
  }

  .movie.mp4 {
    width: 100%;
    max-height: calc(100vh - 120px);
    outline: none;
  }

}