
.event-list {
  position: absolute;
  table-layout: auto;
  user-select: none;

  img.danger.btn {
    width: 1.3em;
  }

  td, th {
    padding: 3px 10px;
  }

  thead tr {
    background: black;
    color: white;
    width: 100%;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px 10px;

    .id:before {
      content: 'Id';
    }

    .camera:before {
      content: 'Camera';
    }

    .start:before {
      content: 'Start';
    }

    .end:before {
      content: 'End';
    }

    .duration:before {
      content: 'Duration';
    }

  }

  .danger.btn.hover {
    display: none;
  }

  thead th:last-child {
    cursor: pointer;
  }

  th:last-child:hover .danger.btn,
  td:last-child:hover .danger.btn {
    display: none;
    &.hover {
      display: initial;
    }
  }

  tbody tr {
    &:hover {
      background: #877abf;

      td:last-child {
        background: white;
      }
    }

    &:active {
      background: #9d8ed9;
    }

    cursor: pointer;

    >:nth-child(1) {
      font-size: 0.7em;
    }


  }
}

@media screen and (max-width: 650px) {
  .event-list {

     tr {
      >:nth-child(4) {
        display: none;
      }

      &:first-child {
        .camera:before {
          content: 'Cam';
        }
      }
    }
  }
}


@media screen and (max-width: 465px) {
  .event-list {

    tr {
      :nth-child(5) {
        display: none;
      }

      &:first-child {
        .camera:before {
          content: 'Cam';
        }
      }
    }
  }
}