
#root {

}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#events {
  width: fit-content;
  padding: 1em;

  border: 1px solid black;
}

.camera-name {
  font-size: 2em;
  align-self: flex-end;
  margin-bottom: 5px;
}

.delete-all:hover {
  background: red;
}

#events {
  height: 100%;
}

.scrollable {
  //overflow-y: scroll;
  position: relative;

}

.event-list {
  border-collapse: collapse;
  //table-layout: auto;
  user-select: none;
  border: 1px solid black;
  height: 100%;

  td, th {
    padding: 3px 10px;
  }

  thead th {
    position: sticky;
    top:-1px;
    z-index: 100000;
    background: black;
  }

  thead tr {
    color: white;
    width: 100%;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px 10px;

    .id:before {
      content: 'Id';
    }

    .camera:before {
      content: 'Camera';
    }

    .start:before {
      content: 'Start';
    }

    .end:before {
      content: 'End';
    }

    .duration:before {
      content: 'Duration';
    }

  }

  .delete .danger.btn {
    position: relative;
    transform: initial;
  }

  thead th:last-child {
    cursor: pointer;
  }

  th:last-child:hover .danger.btn,
  td:last-child:hover .danger.btn {
    display: none;

    &.hover {
      display: initial;
    }
  }

  .last-of-day:not(:last-child) td {
    border-bottom: 1px dashed grey;
  }

  tbody tr {
    &:hover {
      background: #877abf;

      td:last-child {
        background: white;
      }
    }

    &:active {
      background: #9d8ed9;
    }

    cursor: pointer;

    > :nth-child(1) {
      font-size: 0.7em;
    }


  }
}

@media screen and (max-width: 700px) {

  .event-list {

    tr {
      > :nth-child(4) {
        display: none;
      }

      &:first-child {
        .camera:before {
          content: 'Cam';
        }
      }
    }
  }
}


@media screen and (max-width: 465px) {
  .frame {
    .react-calendar {
      width: 100%;
    }
  }
}

@media screen and (max-width: 545px) {

  .event-list {
    width: 100%;
    tr {
      :nth-child(5) {
        display: none;
      }

      &:first-child {
        .camera:before {
          content: 'Cam';
        }
      }
    }
  }
}