body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#panel {
    font-size: 0;
}

#panel > * {
    font-size: initial;
}

body {
    user-select: none;
}


body::-webkit-scrollbar {
    display: none;
}


#offline {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}

.delete {
    cursor: pointer;
    position: relative;
}

.delete .danger.btn {
    width: 1.3em;
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.delete .danger.btn.hover {
    display: none;
}

.delete:hover .danger.btn.hover {
    display: initial;
}

.delete:hover .danger.btn:not(.hover) {
    display: none;
}

.frame-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    cursor: pointer;
    z-index: 0;
    padding: 3px 20px;
    border-radius: 3px;
    display: inline-block;
    user-select: none;
}

.btn-fit {
    padding: 3px 8px;
}

.black-btn {
    color: white;
    background: black;
}

.black-btn:hover {
    background: #4e4e4e;
}
.btn-danger:hover {
    background: red;
}

.btn-small {
    font-size: 0.8em;
}

.btn-small.btn-fit {
    padding: 1px 5px;
}
