body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}


#process {
    position: fixed;
    z-index: 1000;
}

#version {
    padding-left: 7px;
    padding-right: 7px;
    background: white;
    opacity: 0.8;
    border-radius: 3px;
    border: 1px solid lightgray;
    color: grey;
    display: block;
    z-index: 100;
    font-size: 0.7em;
    user-select: none;
}

#version::before {
    content: 'version.  ';
    font-size: 0.7em;
    line-height: 1em;
}

#process .graph {
    margin-top: 3px;
    display: block;
    border-radius: 3px;
}

#offline {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}

.event-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 1px;
    position: absolute;
}

.frame-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-list > .header {
    margin-top: 10px;
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-bottom: 10px;
}

.event-list > * {
    margin: 3px 10px;
}

#back-btn {
    cursor: pointer;
    z-index: 1000;
    background: black;
    color: white;
    padding: 3px 20px;
    border-radius: 3px;
    display: inline-block;
}